
  body {
    margin: 1;
    padding: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }

  .faq-container {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .banner {
    color: #fff;
    padding: 0% 0;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .logo {
    max-width: 5px;
    margin-bottom: 5px;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }

  .social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
    transition: color 0.3s ease;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #4caf50;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  .social-links a:hover {
    color: #ffcd00;
    border-color: #ffcd00;
  }

  .question {
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 20px;
    color: #00cc00;
    transition: color 0.3s ease;
  }

  .question:hover {
    color: #FDDC21;
  }

  .answer {
    display: none;
    margin-bottom: 30px;
    color: #1f1e1e;
    font-size: 16px;
    line-height: 1.5;
  }

  .answer.show {
    display: block;
    animation: fadeIn 0.5s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.scrolling-text {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  animation: scroll 15s linear infinite; /* Define the animation */
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
  0% { transform: translateX(50%); } /* Start position */
  100% { transform: translateX(-50%); } /* End position */
}